#show {
    padding: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    font-family: FuturaPT, helvetica, sans-serif;
    color: black;
    box-sizing: border-box;
}

#recipe-meal {
    color: white;
    background-color: black;
    text-transform: uppercase;
    padding: 16px;
    font-size: 16px;
    margin-bottom: 20px;
}

#recipe-meal > a:hover {
    text-decoration: underline;
    color: rgb(255, 218, 8);
    cursor: pointer;
}

#recipe-name {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 30px;
}

#recipe-author {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin: 15px;
}

#recipe-time {
    font-size: 16px;
    font-weight: 500;
}

#recipe-ave-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#stars {
    margin:8px;
}

#ave-rating {
    font-size: 24px;
    font-weight: 600;
}

#num-rating {
    font-size:12px;
}

.section-style {
    height: 10px;
    line-height: 2em;
    width: 100%;
    border-bottom: 2px solid black;
}

#recipe-ave-rating {
    margin: 20px;
}

#ingredients {
    width: inherit;
}

.section-title {
    font-size: 24px;
    border-bottom: 2px solid black;
    padding: 0px 0px 20px 0px;
    margin: 60px 0px 20px 0px;
    font-weight: 600;
    letter-spacing: 0.03em;
}

#servings {
    background-color: rgb(255, 218, 8);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    width: fit-content;
}

table {
    margin-left: 10px;
}

td {
    padding-right: 20px;
    /* padding-bottom: 10px; */
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.step-title {
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 18px;
    margin-bottom:15px;
    margin-top: 30px;
}

p.step-text  {
    font-size: 18px;
    font-family: "Source Serif Pro", serif;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
    line-height: 30px;
}
