#idea-page {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

#idea-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 400px;
    grid-gap: 20px;
    width: inherit;
    text-align: center;
    margin-top: 40px;
} 