ul {
    list-style: none;
}
a {
    background-color: #000;
    border-width: 3px;
    border-style: solid;
    border-color: #000;
    font-family: FuturaPT, helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 4px;
    padding: 2px;
}
#nav-links a:hover {
    text-decoration: underline;
    color:rgb(255, 218, 8);
    cursor: pointer;
}

#nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px 0px 10px 10px;
    height: 40px;
}

#kitchen-riffs {
    font-family: "Source Serif Pro", serif;
    color: white;
    font-size: 32px;
    position: absolute;
    width: 100%;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.08em;
    box-sizing: border-box;
    z-index: 5;
}

.icon i {
    font-size: 30px;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Urbanist', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.05em;
    padding: 5px;
    z-index: 10;
}

#nav-links a {
    margin-right: 20px;
}

#nav-links .show {
    display: block;
}

#nav-links .hide {
    display: none;
}

#nav-links .dropdown {
    min-width: 2.5rem;
    position: absolute;
    right: 0px;
    background-color: black;
}

.dropdown li {
    text-align: left;
    /* padding: 15px; */
    max-width: 30vw;
    display: flex;
    justify-content: center;
}

.dropdown p {
    margin: 20px 5px 10px 5px;
    padding: 10px;
}

.dropdown button {
    background-color: #000;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    font-weight: bold;
    margin: 10px;
}

.dropdown p {
    font-family: 'Radley', serif;
    color: lightgray;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.dropdown button:hover {
    text-decoration: underline;
    color: rgb(255, 218, 8);
    cursor: pointer;
}